@charset "UTF-8";

@font-face {
    font-family: ygo;
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 1.ttf");
}


body {
	background-image: url("../img/fondo.jpg");
	font-family: Georgia;
    /* Full height */


    /* Center and scale the image nicely */
    background-position: top;
	background-color: black;
    background-repeat: no-repeat;
	background-size:contain;

}

.eventos{
	margin: 0 auto;
}

.torneo{
	margin-top: 50px;
}

a {
	color: #b9b9b9;
}

#nav-container {
	margin-top: 14%;
}

#navbar {
	padding: 0;
}

#content-container {
	margin-top: 7%;
	margin-bottom: 4%;
}

.ygo {
	size: 1.2em;
	text-align: center;
}

.content-box {
	border: 1px solid white;
	padding: 0;
}

.titulo {
	text-align: center;
	font-weight: bold;
	color: white;
	border-bottom: 1px solid white;
	margin-bottom: 5px;
}

img.product-image {
	width: 80%;
	margin-left: 10px;
}

.image{
	width: 200%;
	margin-left: 5px;
}

.product-title {
	color: #75dae9;
}

.descripcion{
	color: #75dae9;
	font-weight: bold;
	text-align: center;
	margin-right: 170px;
}

.descripcion-detalle{
	margin-right: 170px;

}

.tienda{
	color: #75dae9;
	font-weight: bold;
	text-align: center;
	margin-left: 70px;
}

.tienda-dir{
	margin-left: 100px;
}

.product-description {
	color: white;
}

.product-listing {
	padding: 10px;
	border-bottom: 1px dotted white;
}

img.gif {
	width: 100%;
}

.mapa{
	margin-left: 70px;
}

ul li a {
	font-family: 'ygo';
	font-size: 1.5em;
}

.contenedor {
	margin-bottom: 20pt;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

td {
	color: white;
}

p {
	color: white;
}

.follow{
	width: 70%;
	margin-bottom: 20pt;
	padding: 10pt;
}

.principiante{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

img.icon-inline {
		margin-left: 10px;
}

.hideOnNormal {
		display: none;	
	}

@media (max-width: 481px) {
	.product-description {
			display: none;
	}
	
	.content-box {
		margin-bottom: 10px;
		margin-left: 4%;
	}
	
	td{
		font-size: 0.7em;
	}
	
	.follow{
		margin-left: 12%;
	}

@media (max-width: 768px) {
	.hideOnNormal:not(span) {
		display: inline-block;
		font-family: 'ygo';
		font-size: 1.5em;	
	}
}

