@media (min-width: 576px) {
  .bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
  }
}

.nav1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #fff;
    background-color: #337ab7;
}
a {
	text-decoration: none;
}
.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.titul{
	color:#fff;
	background-color: #1864bb;
	font-family: 'ygo';
	font-size: 1.5em;
	text-align: center;
}

.encabezado{
	font-family: 'ygo';
	font-size: 1.45em;
}
.letra{
	font-size: 1.45em;
	text-align: center;
	color: #b4b0b0;
}
tr th a:hover{
    color:#337ab7;
    text-decoration: none;
}
.caja{
	background-color: white;
	padding: 1% 3% 2% 3%;
	margin: 1%;
}


.contenedor_titulo{
	width: 50%;
	border-bottom: solid;
	margin: 0% 1% 0% 25%;
}
#titulo_tema{
	text-align: center;
	font-size: 2.5em;

}

p{
	color: black;
	text-align: justify;
}
#regresar:hover{
   text-decoration: none;
}

.profile {
  margin: 20px 0;
  background: #5d5a5a;
  border: 10px ridge #dadadd;

}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;

}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 10% !important;
  -moz-border-radius: 10% !important;
  border-radius: 10% !important;
  border: 2px solid lightyellow;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}



/* Profile Content */
.profile-content {
  padding: 20px;
  min-height: 460px;
}

@media (min-width: 992px){
    .perfil {
       width: 20%;
       padding-right: 0px;
       padding-left: 0px;
    }
    .contenido{
        padding-right: 0px;
        padding-left: 0px;
        border-left: 1px solid;
    }
}
.temas{
    text-align: center;
    color: #fbfbfb;
}
.contenido4{
    text-align: justify;
}

.btn-default {
    color: #333;
    background-color: #1166ad;
    border-color: #3bace4;
}

.btn-default:hover{
    background-color:#3bace4;
}

.boton{
    width: 20%;
}

.material-icons {
    color: #1e64a0;
}
.mio{
    color:aliceblue;
}
.mio{
    color:aliceblue;
}

