table{
   margin: 0 auto;
}

th{
	text-align: center;
	padding: 1em;
}

td{
	text-align: center;
	padding: 1em;
}

.btn span {
    font-family: 'ygo';
    font-size: 0.6em;
}
.especial {
	    width: 100%;
}

input{
	font-size: 1.5em;
}

p.elim{
	font-size: 1.5em;
}

a.cancel{
	display: block;
	font-size: 1.5em;
	text-align: center;
}