  input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	

.row{
	width: 150%;
}

.col-md-7{
	top: 10px;
	width: 1050px;
	height: auto;
}

.panel{
	background-image: url('../../img/fondo.jpg'); 
}

.col-sm-5{
	color:white;
}
.duelo{
	color:#00b1b1; 
	text-align:center;
}

.col-sm-7{
	color:white;
}


@media only screen and (max-width: 1200px) {
    body {
       
    }

    .container{
    	margin-left: 10px;
    }

    .col-md-7{
	top: 10px;
	margin-left:10px; 
	height: auto;
}
}

@media only screen and (max-width: 850px) {
    body {
       
    }
    .im2{
    	display: none;
    }

	
    .col-md-7{
	top: 10px;
	margin-left:0px; 
	height: auto;
}

}




@media only screen and (max-width: 770px) {
    body {
       
    }

    .im2{
    	display: none;
    }

	
    .col-md-7{
	top: 10px;
	margin-left:0px; 
	height: auto;
}

.img{
	margin-left: -461px;
}


}



@media only screen and (max-width: 680px) {
    body {
       max-width: 680px
    }
    .container{
    	margin-left: 0px;
    	padding-left: 0px;
    	max-width: 500px;
    }

.img{
	margin-left: -461px;
}

}