<!doctype html>
<html>
	<head>
		<!-- Write your comments here -->
		<title>Yu-Gi-Oh! Guayaquil</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="descripción" content="Página principal de Yu-Gi-Oh! Guayaquil"/>
		<meta name="autores" content="Alex Ferrín, Julio Larrea"/>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/estilo.css" rel="stylesheet">
	</head>
	<body>
	<div class="navbar-wrapper">
      <div class="container" id="nav-container">

        <nav class="navbar navbar-inverse">
			<div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
			  <p class="navbar-brand hideOnNormal">Barra Navegación</p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#">Principal</a></li>
                <li><a href="productos/productos.html">Productos</a></li>
                <li><a href="torneosYtiendas/torneosYtiendas.html">Torneos y Tiendas</a></li>
				<li><a href="timeline/timeline.html">Evolución del Juego</a></li>
				<li><a href="comoSeJuega/comoSeJuega.html">Cómo se Juega</a></li>
				<li><a href="estadisticas/estadisticas.html">Estadísticas</a></li>
				<li><a href="contactenos/contactenos.html">Contáctenos</a></li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
	
	<div class="container" id="content-container">
		<div class="row">
        <div class="col-md-6 content-box col-xs-11">
			<div class="titulo">
				<p>Últimos productos</p>
			</div>
			<div class="lista-productos">
			<div class="product-listing" id="producto1">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<img src="img/COTD-BoosterEN.png" alt="COTD" class="product-image">
					</div>
					<div class="col-md-9 col-xs-9">
						<p class="product-title">Código de Duelista - Sobre de Expansión.</p>
						<br>
						<p class="product-description"> Combina monstruos Fusión, Ritual, de Sincronía, Xyz, Péndulo y los nuevos Links para dar inicio a una nueva era de Yu-Gi-Oh!</p>
					</div>
				</div>
			</div>
			<div class="product-listing" id="producto2">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<img src="img/PEVO-BoosterEN.png" alt="PEVO" class="product-image">
					</div>
					<div class="col-md-9 col-xs-9">
						<p class="product-title">Evolución del Péndulo - Sobre de Expansión.</p>
						<br>
						<p class="product-description"> Conjunto de cartas todas brillantes desde rareza Súper hasta rareza Ultra, caracterizando nuevos monstruos Péndulo.</p>
					</div>
				</div>
			</div>
			<div class="product-listing" id="producto3">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<img src="img/MACR-BoosterEN.png" alt="MACR" class="product-image">
					</div>
					<div class="col-md-9 col-xs-9">
						<p class="product-title">Crisis Máxima - Sobre de Expansión.</p>
						<br>
						<p class="product-description"> Las paredes entre dimensiones están colapsando, y el rey supremo de la destrucción se levantará.</p>
					</div>
				</div>
			</div>
			<div class="product-listing" id="producto4">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<img src="img/RATE-BoosterEN.png" alt="RATE" class="product-image">
					</div>
					<div class="col-md-9 col-xs-9">
						<p class="product-title">Tempestad Furiosa - Sobre de Expansión.</p>
						<br>
						<p class="product-description"> Tempestad Furiosa empieza tres nuevos temas y da más poder a temas ya empezado anteriormente por otros sobres.</p>
					</div>
				</div>
			</div>
			</div>
		</div>
        <div class="col-md-6 content-box col-xs-11">
			<div class="contenedor">

				<div>>
						<div class="row">
							<div class="col-md-3 col-xs-3">

							</div>
							<div class="col-md-9 col-xs-9">
								<p class="descripcion" >Yu-Gi-Oh! Juego de cartas collecionables</p>
								<br>
								<p class="descripcion-detalle" >Pagina dedicada para auxiliar nuevos duelistas en guayaquil a informarse mas sobre el juego YUGIOH, productos, tiendas y torneos</p>
							</div>
						</div>
					</div>
					<img src="img/vrains.gif" alt="vrainsGif" class="gif">
					<p class="ygo">No te pierdas la nueva serie YUGIOH VRAINS!! disponible desde el 10/05/17 INTO THE VRAINS!</p>
				</div>
			</div>
			<div class="content-box">
				<div class="titulo">
					<p>Eventos Recientes</p>
				</div>
				<table>
					<tr>
						<th class="titulo">Fecha</th>
						<th class="titulo">Evento</th>
						<th class="titulo">Lugar</th>
					</tr>
					<tr>
						<td>Jun 23</td>
						<td>Central American WCQ - Last Chance Qualifiers</td>
						<td>Expo Reforma CDMX, Mexico</td>
					</tr>
					<tr>
						<td>Jun 30</td>
						<td>South American WCQ - Last Chance Qualifiers</td>
						<td>Club Homs - Avenida Paulista Sao Paulo, Brazil</td>
					</tr>
					<tr>
						<td>Jul 7</td>
						<td>North American WCQ - Last Chance Qualifiers</td>
						<td>Donald E. Stephens Convention Center Chicago, IL</td>
					</tr>
					<tr>
						<td>Jul 22 - 23</td>
						<td>Yu-Gi-Oh! Day</td>
						<td>Latinoamérica</td>
					</tr>
				</table>
			</div>
		</div>
      </div>
	</div>
	<div class="container content-box follow">
		<p>Síguenos en: <img src="./img/facebook-icon-2-200x200.png" alt="facebookIcon" class="icon-inline" height="32" width="32"> 
		<img src="./img/1484210852_twitter_letter.png" alt="twitterIcon" class="icon-inline" height="32" width="32">
		<img src="./img/youtube2-128.png" alt="youtubeIcon" class="icon-inline" height="32" width="32">
		</p>
		<p>*Los íconos no están habilitados.</p>
	</div>
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/conexiones.js"></script>
	</body>
</html>
