<!doctype html>
<html>
	<head>
		<title>Yu-Gi-Oh! Guayaquil</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="descripción" content="Página de contacto Yu-Gi-Oh! Guayaquil"/>
		<meta name="autores" content="Alex Ferrín, Julio Larrea"/>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="{% static 'css/modificaciones_boostrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    <link href="{% static 'css/modificaciones_boostrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilo-grupo.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    
	</head>
	<body>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta<span class="caret"></span></button> 
      <ul class="dropdown-menu"> 
        <li><a href="#">Registrar</a></li>
          <li><a href="#">Iniciar Sesion</a></li> 
      </ul> 
    </div>
	<div class="navbar-wrapper">
      <div class="container" id="nav-container">

        <nav class="navbar navbar-inverse">
			<div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
			  <p class="navbar-brand hideOnNormal">Barra Navegación</p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav nav-pills nav-justified">
                <li><a href="{% url 'home'%}">Principal</a></li>
                <li><a href="{% url 'productos'%}">Productos</a></li>
                <li><a href="{% url 'torneos'%}">Torneos</a></li>
        <li><a href="{% url 'timeline'%}">Evolución del Juego</a></li>
        <li><a href="{% url 'howToPlay'%}">Cómo se Juega</a></li>
        <li><a href="{% url 'foro' %}">Foro</a></li>
        <li><a href="{% url 'contactenos'%}">Contáctenos</a></li>
              </ul>
              </ul>
            </div>
        </nav>
      </div>
    </div>
	
	 <div class="container" id="content-container">
		<div class="row">
      <div id="cons">
			    <div class="caja">
            <div id="crear">
              <form>
                  <label for="nombre" class="lab" style="cursor: pointer;">
                    <h4 class="texto">Nombre:</h4>
                    <input id="nombre" name="nombre" placeholder="Ingresar nombre del grupo"required/>
                   
                  </label><br>
                  <label for="avatar" class="lab"><h4 class="texto">Avatar:</h4>
                    <input id="avatar" name="avatar" type="file"/>

                  </label><br>
                  
                  <label for="buscar" class="lab">
                    <h4 class="texto">Añadir miembros:</h4>
                    <div class="col-lg-6">
                    <div class="input-group">
                      <input type="text" name="buscar" class="form-control" placeholder="buscar personal...">
                      <span class="input-group-btn">
                       <button class="btn btn-default" type="button">Go!</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </label>
                </div><!-- /.row -->
               <div class="otra">
                   <button type="button" class="botun btn btn-floating pulse btn btn-default btn-lg">Crear
                     </button>
                </div>
            </div>
          </div>
       </div>
	 </div>
	</div>
 
	
	
	<div class="container content-box follow">
		<p>Síguenos en: <img src="../img/facebook-icon-2-200x200.png" alt="facebookIcon" class="icon-inline" height="32" width="32"> 
		<img src="../img/1484210852_twitter_letter.png" alt="twitterIcon" class="icon-inline" height="32" width="32">
		<img src="../img/youtube2-128.png" alt="youtubeIcon" class="icon-inline" height="32" width="32">
		</p>
		<p>*Los íconos no están habilitados.</p>
	</div>
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	</body>
</html>