<!doctype html>
<html>
	<head>
		<title>Yu-Gi-Oh! Guayaquil</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="descripción" content="Página para ver como jugar Yu-Gi-Oh!"/>
        <meta name="autores" content="Alex Ferrín, Julio Larrea"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
		{% load static %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_moderador.css'%}">
        s
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{% static 'css/modificaciones_boostrap.css'%}" rel="stylesheet">
	</head>
    
	<body>
	<div class="navbar-wrapper">
      <div class="container" id="nav-container">

        <nav class="navbar navbar-inverse">
			<div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
			  <p class="navbar-brand hideOnNormal">Barra Navegación</p>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
<ul class="nav nav-pills nav-justified">
                <li><a href="{% url 'home'%}">Principal</a></li>
                <li><a href="{% url 'mostrarPerfil'%}">Perfil</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'torneos'%}">Torneos</a></li>
                <li class="active"><a href="#">Evolución del Juego</a></li>
                <li><a href="{% url 'howToPlay'%}">Cómo se Juega</a></li>
                <li><a href="{% url 'estadisticas'%}">Foro</a></li>
                <li><a href="{% url 'contactenos'%}">Contáctenos</a></li>
                <li><a href="{% url 'mostrarPerfil'%}">Contáctenos</a></li>
              </ul>            </div>
        </nav>
      </div>
    </div>
	
	 <div class="container" id="content-container">
		<div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="{{user2.avatar}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                   
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                    </div>
                    <div class="profile-usertitle-job">
                        <div>{{user.username}}</div>
                         {{user2.rol}}

                    </div>
                </div>
                
                   
                <!-- END SIDEBAR USER TITLE -->

                <!-- SIDEBAR MENU -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="{% url 'mostrarPerfil'%}">
                            Perfil </a>
                        </li>
                        <li>
                            <a href="{% url 'verGrupos'%}">
                            Mis Grupos </a>
                        </li>
                        <li>
                            <a href="#">
                            Mis Fichas  </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'editarPerfil' %}">
                            Editar Perfil </a>
                        </li>
                        
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
               <form class="form-horizontal">
<fieldset>
 
<!-- Form Name -->
<legend>
    <h1 class="titulo">Perfil</h1>
</legend>
<br>
  <div class="datos">
    <h2><span class="glyphicon glyphicon-user"><b> UserName:</b>   {{user.username}} </span></h2>
    <h2><span class="glyphicon glyphicon-tags"><b> Nombres y Apellidos:</b> {{user.first_name}} {{user.last_name}} </span></h2>
    <h2><span class="glyphicon glyphicon-envelope"><b> Email:</b> {{user.email}}</span></h2>
    <h2><span class="glyphicon glyphicon-star-empty"><b> Ranking:</b>  {{user2.ranking}}</span></h2>
    <h2><span class="glyphicon glyphicon-thumbs-up"><b> Torneo Ganados:</b> 0</span></h2>
  </div>
</fieldset>
</form>
            </div>
        </div>
    </div>
    </div>


 
    <div class="container content-box follow">
        <p>Síguenos en: <img src="/static/img/facebook-icon-2-200x200.png" alt="facebookIcon" class="icon-inline" height="32" width="32"> 
        <img src="/static/img/1484210852_twitter_letter.png" alt="twitterIcon" class="icon-inline" height="32" width="32">
        <img src="/static/img/youtube2-128.png" alt="youtubeIcon" class="icon-inline" height="32" width="32">
        </p>
        <p>*Los íconos no están habilitados.</p>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/bootstrap.min.js'%}"></script>
	</body>
</html>