<!doctype html>
<html>
	<head>
		<title>Yu-Gi-Oh! Guayaquil</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="descripción" content="Página para ver eventos y buscar locales Yu-Gi-Oh! en Guayaquil"/>
		<meta name="autores" content="Alex Ferrín, Julio Larrea"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/estilotorneo.css' %}">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="navbar-wrapper" style="margin-bottom: 150px;">
	      <div class="container" id="nav-container">

	        <nav class="navbar navbar-inverse">
				<div class="navbar-header">
	              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
				  <p class="navbar-brand hideOnNormal">Barra Navegación</p>
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	              <ul class="nav nav-pills nav-justified">
	                <li ><a href="{% url 'home'%}">Principal</a></li>
	                <li><a href="{% url 'productos'%}">Productos</a></li>
	                <li class="active"><a href="#">Torneos</a></li>
					<li><a href="{% url 'timeline'%}">Evolución del Juego</a></li>
					<li ><a href="{% url 'howToPlay'%}">Cómo se Juega</a></li>
					<li><a href="{% url 'estadisticas'%}">Estadísticas</a></li>
					<li><a href="{% url 'contactenos'%}">Contáctenos</a></li>
	              </ul>
	            </div>
	        </nav>
	      </div>
	    </div>
	    <div class="container" id="content-container">
		<div class="row">
        <div class="col-md-6 content-box col-xs-12">
			<div class="titulo">
				<p>Locales en Guayaquil</p>
			</div>
			<div class="lista-productos">
			<div class="product-listing" id="producto1">
				<div class="row">
					<div class="col-md-3 col-xs-3">
						<img src="/static/img/dp.jpg" alt="COTD" class="image">
					</div>
					<div class="col-md-9 col-xs-9">
						<p class="tienda">Duelist Place</p>
						<br>
						<p class="tienda-dir"> Calle 15 NE frente al Cafe De Tere, Local esquinero</p>
						<br>
						<p class="tienda-dir">(Unico en Guayaquil por ahora)</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-md-6 content-box col-xs-12">
			<div class="contenedor">

				<div>
						<div class="row">
							<div class="col-md-3 col-xs-3">

							</div>
							<div class="col-md-9 col-xs-9">
								<br>
								
							</div>
						</div>
					</div>
					<div class="resized-container">
					<iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.004568241107!2d-79.8930346965209!3d-2.1519368023904137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d6da0bcf7950d%3A0xab35996150caaea1!2sCalle+15+NE%2C+Guayaquil+090513!5e0!3m2!1ses-419!2sec!4v1499680856708" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>


		<div >
				<div class="titulo">
					<p class="torneo">TORNEOS/CLASIFICATORIA</p>
				</div>
				<div >
					<table class="eventos">
						<tr>
							<th class="titulo">Fecha</th>
							<th class="titulo">Evento</th>
							<th class="titulo">Lugar</th>
						</tr>
						<tr>
							<td>Jun 23</td>
							<td>National 2017 GYE - Last Chance Qualifiers</td>
							<td>Centro Convenciones, Guayaquil</td>
						</tr>
						<tr>
							<td>Aprl 30</td>
							<td>Regional 2017 - Last Chance Qualifiers</td>
							<td>Plaza San Pablo, Quito</td>
						</tr>
						<tr>
							<td>Jul 7</td>
							<td>UDS Championship - Last Chance Qualifiers</td>
							<td>Duelist Place, Guayaquil</td>
						</tr>
						<tr>
							<td>Jul 22 - 23</td>
							<td>Yu-Gi-Oh! Day</td>
							<td>Duelist Place, Guayaquil</td>
						</tr>
					</table>
				</div>
				
			</div>
			
			<div class="container content-box follow">
		<p>Síguenos en: <img src="/static/img/facebook-icon-2-200x200.png" alt="facebookIcon" class="icon-inline" height="32" width="32"> 
		<img src="/static/img/1484210852_twitter_letter.png" alt="twitterIcon" class="icon-inline" height="32" width="32">
		<img src="/static/img/youtube2-128.png" alt="youtubeIcon" class="icon-inline" height="32" width="32">
		</p>
		<p>*Los íconos no están habilitados.</p>
	</div>
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
	</body>
</html>